/*-------------------------------
        DISPLAY MEDIUM
--------------------------------*/
@media screen and (max-width: 768px) {
    /*-------HEADER--------*/

    /*--------MAIN---------*/
    div.album-row{
        flex-wrap: wrap;
    }
    div.album-box{
        width: calc((100% / 4) - 1rem);
        margin-right: 1rem;
        text-align: center;
    }
    /*--------FOOTER-------*/
}