/*-------------------------------
        DISPLAY XS
--------------------------------*/
@media screen and (max-width: 576px) {
    body{
        min-width: 650px;
    }
    /*-------HEADER--------*/
    header{
        width: 80px;
    }
    /*--------MAIN---------*/
    div.album-box{
        width: calc(100% - 80px);
    }
    /*--------FOOTER-------*/
}