/*-------------------------------
        DISPLAY S
--------------------------------*/
@media screen and (max-width: 768px) {
    /*-------HEADER--------*/

    /*--------MAIN---------*/
    div.album-box{
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
        text-align: center;
    }
    /*--------FOOTER-------*/
    div.footer-left-icon{
        margin: 0 .5rem;
    }
}