/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Roboto', sans-serif;
    color: white;
}
/*----------GENERAL-------*/
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
section{
    margin: 5rem 0;
}
.circle-img{
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: white;
}
.relative{
    position: relative;
}
/*-------HEADER--------*/
header{
    width: 233px;
    height: calc(100  - 120px);
    min-height: 700px;
    background-color: black;
    position: relative;
}
/*LOGOS*/
header img.main-logo{
    width: 150px;
    margin: 1rem 1rem 0;
}
header img.small-logo{
    display: none;
}
/*NAV*/
nav.main-nav{
    margin: 2rem 0;
}
nav.main-nav ul li{
    list-style: none;
    font-size: 1.2rem;
    padding-left: 1rem;
    margin: .8rem 0;
}
nav.main-nav ul li img{
    width: 30px;
    vertical-align: middle;
}
li.pressed{
    color: white;
    border-left: 3px solid #a0ec2e;
}
li.not-pressed{
    color: #6c7179;
}
/*PLAYLIST*/
section#playlist{
    margin: .5rem 0;
    padding-left: 1rem;
}
section#playlist h2{
    text-transform: uppercase;
    font-size: 1.2rem;
}
section#playlist ul li{
    margin: .6rem 0;
    color: #6c7179;
    list-style: none;
    font-size: 1.1rem;

}
section#playlist ul li i{
    background-color: #6c7179;
    color: black;
    padding: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    vertical-align: middle;
}
section#playlist ul li i:hover{
    background-color: white;
}
/*LOGIN*/
section#login{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.8rem .2rem;
}
div.download{
    color: #6c7179;
}
div.download img{
    width: 25px;
    vertical-align: middle;
}
div.separator-line{
    height: 1px;
    background-color: #6c7179;
    margin: .8rem 0;
}
div.user img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: #6c7179;
    border-radius: 50%;
}
div.user span{
    font-weight: bold;
}
/*--------MAIN---------*/
main{
    width: calc(100% - 233px);
    height: calc(100vh - 120px);
    background-color: #141922;
    padding-bottom: 150px;
    overflow-y: auto;
}
main section{
    padding: 0 1rem;
}
main section h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
main div.do-upgrade{
    height: 80px;
    width: 100%;
    background-color: #080b12;
    justify-content: flex-end;
}
main div.do-upgrade a{
    border: 1px solid white;
    border-radius: 5rem;
    margin-right: 2rem;
    padding: .5rem 2rem;
    text-transform: uppercase;
}
main div.do-upgrade a:hover{
    background-color: white;
    color: black;
}
/*--SECTION ALBUM NAV BAR*/
nav.album-nav-bar ul{
    flex-wrap: wrap;
}
nav.album-nav-bar ul li{
    margin: 1rem 2rem;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    color: #6c7179;
    cursor: pointer;
}
nav.album-nav-bar ul li:hover{
    color: white;
}
div.album-nav-bar-green{
    min-height: 3px;
    width: 40%;
    background-color: #a0ec2e;
    margin: 0 auto;
    margin-top: 0.5rem;
}
/*--ALBUM SECTION--*/
section#album{
    width: 100%;
}
div.album-row{
    width: 100%;
    flex-wrap: nowrap;
}
div.album-box{
    width: calc((100% / 6) - 0.5rem);
    margin: 0.5rem;
    text-align: center;
}
div.album-box img{
    max-width: 100%;
    display: block;
}
div.album-box h3{
    margin-top: 1rem;
}
div.album-box h4{
    margin-top: .5rem;
    color: #6c7179;
}
/*-ALBUM HOVER (PLAY BUTTON)-*/
div.album-hover{
    position: relative;
    cursor: pointer;
}
div.play-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
div.play-hover i{
    font-size: 4rem;
}
div.circle-hover{
    border-radius: 50%;
}
div.album-hover:hover div.play-hover{
    display: flex;
}
/*----TEXT__COLOR___ALBUMS P COLOR GREY----*/
/*-CREATE FOR YOU SEC-*/
section#create-for p{
    color: #6c7179;
    margin-top: .5rem;
}
/*-POPULAR ARTIST SEC-*/
section#artist p{
    color: #6c7179;
    margin-top: .5rem;
}
/*--------FOOTER-------*/
footer{
    width: 100%;
    height: 120px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
}
div.footer-left,
div.footer-right{
    width: 30%;
    height: 100%;
}
div.footer-center{
    width: 40%;
    height: 100%;
}
/* LEFT SECTION */
div.footer-left{
    justify-content: flex-start;
}
div.footer-left img{
    height: 50%;
    margin: 0 .5rem;
}
div.footer-player-name{
    color: #6c7179;
}
div.footer-player-name h4{
    color: white;
}
div.footer-left-icon{
    margin: 0 2rem;
}
div.footer-left-icon i{
    margin-left: .5rem;
    font-size: 1.1rem;
    color: #6c7179;
    cursor: pointer;
}
div.footer-left-icon i:hover{
    color: white;
}
/* CENTER SECTION */
div.footer-center{
    align-items: space-around;
    padding: 2rem;
}
div.player-top i{
    font-size: 1.5rem;
    margin: 1 .5rem;
    cursor: pointer;
}
div.player-top i:hover{
    transform: scale(1.5);
}
div.player-bot{
    width: 100%;
    margin-bottom: 2rem;
}
div.player-time{
    width: 70%;
    height: 3px;
    background-color: #6c7179;
    margin: 0 1rem;
    cursor: pointer;
}
div.player-time div.player-time-scroll{
    width: 30%;
    height: 100%;
    background-color: white;
}
div.player-time div.player-time-scroll-hover{
    width: 30%;
    height: 100%;
    background-color: #a0ec2e;
    display: none;
    position: relative;
}
div.player-time-scroll-hover div.player-time-circle{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
div.player-time:hover div.player-time-scroll-hover{
    display: block;
}
div.player-time:hover div.player-time-circle{
    display: block;
}
div.player-time:hover div.player-time-scroll{
    display: none;
}

/* RIGHT SECITION */
div.footer-right{
    justify-content: flex-end;
}
div.footer-right i{
    font-size: 1.2rem;
    margin: 0 0.5rem;
    cursor: pointer;
}
div.footer-right div.volume{
    width: 20%;
}